[b00t]
name = "taskmaster-ai"
type = "mcp"
hint = """
A poly agentic MCP-powered task-management system you can drop into any project or repo.

Change the main, research and fallback models to <model_name>, <model_name> and <model_name> respectively.
There is a CLI + MCP interface

```bash

# Initialize a new project
task-master init

# Parse a PRD and generate tasks
task-master parse-prd your-prd.txt

# List all tasks
task-master list

# Show the next task to work on
task-master next

# Show specific task(s) - supports comma-separated IDs
task-master show 1,3,5

# Research fresh information with project context
task-master research "What are the latest best practices for JWT authentication?"

# Generate task files
task-master generate

# Add rules after initialization
task-master rules add windsurf,roo,vscode
```


"""
[[b00t.mcp.stdio]]
command = "npx"
args = ["-y", "--package=task-master-ai", "task-master-ai"]
transport = "stdio"
priority = 0
requires = ["node"]

[b00t.env]
MISTRAL_API_KEY = ""
OPENROUTER_API_KEY = ""
XAI_API_KEY = ""
PERPLEXITY_API_KEY = ""
OPENAI_API_KEY = ""
OPENAI_BASE_URL = ""
ANTHROPIC_API_KEY = ""
AZURE_OPENAI_API_KEY = ""
AZURE_OPENAI_ENDPOINT= ""
OLLAMA_API_KEY = ""
OLLAMA_BASE_URL = ""
GOOGLE_API_KEY = ""
VERTEX_PROJECT_ID = ""
VERTEX_LOCATION = ""
GOOGLE_APPLICATION_CREDENTIALS = ""
