[package]
name = "boot-cli"
version = "0.2.1"
edition = "2024"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
toml = "0.8"
clap = { version = "4.5.4", features = ["derive"] }
regex = "1.10.5"
duct = "0.13.6"
shellexpand = "3.1.0"
semver = "1.0"
